# IDE
.idea/
.vscode/

# Mac files
.DS_Store

# Coverage reports
coverage/

# Dependencies
node_modules/

# Library
dist/
typings/

# Mist
temp/

# Environment
.env

# Yarn
yarn.lock
yarn-error.log
.yarn-integrity
